<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"  /> 

    <title>Greeting</title>
  </head>
  <body>
    <div th:replace="fragments/header :: header(content='home')"></div>

    <div class="jumbotron">
        <h1 class = "display-4"><p th:text="'Welcome to my website!'"></h1>
        <!-- <h1 class = "display-4"><p th:text="'Hello, ' + ${name} + '!'" /></h1> -->
        <p class="lead">In here, you can contact me, learn more about me, or post anything you'd like.</p>
        <hr class="my-4">
        <p>I am a suicide prevention advocate and I am very passionate about it.</p>
        <a class="btn btn-primary btn-lg" href="/about" role="button">Learn more about me and my passions</a>
    </div>

    <!-- Added div to load image of the day with id -->
    <div id="nasaAPOD">
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
     <!-- Added jQuery Javascript -->  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
    <script>
        $( document ).ready(function() {
        console.log( "ready!" );
        $.ajax({
                type: 'GET',
                url: 'https://api.nasa.gov/planetary/apod?api_key=vWe1lzJ6A1zzH06D1fZMe5AGzPR2PI6jReBavfSq',
                dataType: 'json',
                success: function(data){
                    console.log(data);
                    var pictureOfTheDay = "'<img src=" + data.url + ">'";

                    $('#nasaAPOD').html("<h4>Title:</h4>" + "<p>" + data.title + "</p>" +   //displays the title
                    "<h4>Explanation:</h4>" + "<p>"+ data.explanation + "</p>" +            //displays the explanation
                    "<h4>Date:</h4>" + "<p>" + data.date + "</p>" +                         //displays the date
                    pictureOfTheDay);                                                       //displays the picture of the day
                },
                error: function(e){
                    console.log(e)
                }
            });
        });
    </script>
  </body>
</html>


