#about-me{
    background-image: url(/img/testImage.jpg);
    background-position: 50% 30%;
    font-size: 3em;
}
#about-me p{
    text-align: right;
}
.lead{
    font-size: 1.5em;
}

/* #nasaAPOD{
    background: url(https://apod.nasa.gov/apod/image/2009/ig_maxmin.jpg) no-repeat;
    height: 100vh;
    color: white;
} */