#about-me{
    background-image: url(/img/testImage.jpg);
    background-position: 50% 30%;
    font-size: 3em;
}
#about-me p{
    text-align: right;
}
.lead{
    font-size: 1.5em;
}

#nasaAPOD{
    width: 30%;
    height: 750px;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    float: left;
}

#nasaAPOD p {
    padding: 10px 10px 0px 20px;
    color: white;
    font: 14px Monaco, Mono-Space; 
    margin-top: 2em ;
    margin-bottom: 2em ;
  }

